html

body {
  background: linear-gradient(
     grey 65%, black 95%, red
  );
  height: 100vh;
}

#root


canvas {
  width: 100%;
  height: 100%;
  margin: 0%;
}


.slide-enter,
.slide-exit {
  transition: transform 2000ms ease-out;
}

/* .slide-enter {
  transform: translateX(100%);
} */
.slide-enter {
  opacity: 0;
}
/* .slide-enter.slide-enter-active {
  transform: translateX(0%);
} */
.slide-enter.slide-enter-active {
  opacity: 0.5;
}
/* .slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
} */

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.slide-exit-active {
  opacity: 1;
}